.bgImage {
	margin: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: absolute;
	background-attachment: fixed;
	background-size: cover;
	background-position:50% 50%;
	background-repeat: no-repeat;
	/* Safari 6.0 - 9.0 */
	filter: grayscale(80%);
	z-index: -1;
}
.blobCont {
  
	filter: blur(0);
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}
@keyframes move1 {
  from {
    transform: rotate(90deg) translate(200px, 0.1px) rotate(-90deg);
  }
  to {
    transform: rotate(450deg) translate(200px, 0.1px) rotate(-450deg);
  }
}
@-ms-keyframes move1 {
  from {
    -ms-transform: rotate(90deg) translate(200px, 0.1px) rotate(-90deg);
  }
  to {
    -ms-transform: rotate(450deg) translate(200px, 0.1px) rotate(-450deg);
  }
}
@-moz-keyframes move1 {
  from {
    -moz-transform: rotate(90deg) translate(200px, 0.1px) rotate(-90deg);
  }
  to {
    -moz-transform: rotate(450deg) translate(200px, 0.1px) rotate(-450deg);
  }
}
@-webkit-keyframes move1 {
  from {
    -webkit-transform: rotate(90deg) translate(200px, 0.1px) rotate(-90deg);
  }
  to {
    -webkit-transform: rotate(450deg) translate(200px, 0.1px) rotate(-450deg);
  }
}
.blob:nth-child(1) {
  position: relative;
  animation: move1 12s infinite linear;
  
-ms-animation: move1 12s infinite linear;
  -moz-animation: move1 12s infinite linear;
  -webkit-animation: move1 12s infinite linear;
}
@keyframes move2 {
  from {
    transform: rotate(180deg) translate(200px, 0.1px) rotate(-180deg);
  }
  to {
    transform: rotate(540deg) translate(200px, 0.1px) rotate(-540deg);
  }
}
@-ms-keyframes move2 {
  from {
    -ms-transform: rotate(180deg) translate(200px, 0.1px) rotate(-180deg);
  }
  to {
    -ms-transform: rotate(540deg) translate(200px, 0.1px) rotate(-540deg);
  }
}
@-moz-keyframes move2 {
  from {
    -moz-transform: rotate(180deg) translate(200px, 0.1px) rotate(-180deg);
  }
  to {
    -moz-transform: rotate(540deg) translate(200px, 0.1px) rotate(-540deg);
  }
}
@-webkit-keyframes move2 {
  from {
    -webkit-transform: rotate(180deg) translate(200px, 0.1px) rotate(-180deg);
  }
  to {
    -webkit-transform: rotate(540deg) translate(200px, 0.1px) rotate(-540deg);
  }
}
.blob:nth-child(2) {
  position: relative;
  animation: move2 12s infinite linear;
  
-ms-animation: move2 12s infinite linear;
  -moz-animation: move2 12s infinite linear;
  -webkit-animation: move2 12s infinite linear;
}
@keyframes move3 {
  from {
    transform: rotate(270deg) translate(200px, 0.1px) rotate(-270deg);
  }
  to {
    transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
  }
}
@-ms-keyframes move3 {
  from {
    -ms-transform: rotate(270deg) translate(200px, 0.1px) rotate(-270deg);
  }
  to {
    -ms-transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
  }
}
@-moz-keyframes move3 {
  from {
    -moz-transform: rotate(270deg) translate(200px, 0.1px) rotate(-270deg);
  }
  to {
    -moz-transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
  }
}
@-webkit-keyframes move3 {
  from {
    -webkit-transform: rotate(270deg) translate(200px, 0.1px) rotate(-270deg);
  }
  to {
    -webkit-transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
  }
}
.blob:nth-child(3) {
  position: relative;
  animation: move3 12s infinite linear;
  
-ms-animation: move3 12s infinite linear;
  -moz-animation: move3 12s infinite linear;
  -webkit-animation: move3 12s infinite linear;
}
@keyframes move4 {
  from {
    transform: rotate(360deg) translate(200px, 0.1px) rotate(-360deg);
  }
  to {
    transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
  }
}
@-ms-keyframes move4 {
  from {
    -ms-transform: rotate(360deg) translate(200px, 0.1px) rotate(-360deg);
  }
  to {
    -ms-transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
  }
}
@-moz-keyframes move4 {
  from {
    -moz-transform: rotate(360deg) translate(200px, 0.1px) rotate(-360deg);
  }
  to {
    -moz-transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
  }
}
@-webkit-keyframes move4 {
  from {
    -webkit-transform: rotate(360deg) translate(200px, 0.1px) rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
  }
}
.blob:nth-child(4) {
  position: relative;
  animation: move4 12s infinite linear;
  
-ms-animation: move4 12s infinite linear;
  -moz-animation: move4 12s infinite linear;
  -webkit-animation: move4 12s infinite linear;
}
@keyframes move5 {
  from {
    transform: rotate(-450deg) translate(200px, 0.1px) rotate(450deg);
  }
  to {
    transform: rotate(-810deg) translate(200px, 0.1px) rotate(810deg);
  }
}
@-ms-keyframes move5 {
  from {
    -ms-transform: rotate(-450deg) translate(200px, 0.1px) rotate(450deg);
  }
  to {
    -ms-transform: rotate(-810deg) translate(200px, 0.1px) rotate(810deg);
  }
}
@-moz-keyframes move5 {
  from {
    -moz-transform: rotate(-450deg) translate(200px, 0.1px) rotate(450deg);
  }
  to {
    -moz-transform: rotate(-810deg) translate(200px, 0.1px) rotate(810deg);
  }
}
@-webkit-keyframes move5 {
  from {
    -webkit-transform: rotate(-450deg) translate(200px, 0.1px) rotate(450deg);
  }
  to {
    -webkit-transform: rotate(-810deg) translate(200px, 0.1px) rotate(810deg);
  }
}
.blob:nth-child(5) {
  position: relative;
  animation: move5 12s infinite linear;
  
-ms-animation: move5 12s infinite linear;
  -moz-animation: move5 12s infinite linear;
  -webkit-animation: move5 12s infinite linear;
}
@keyframes move6 {
  from {
    transform: rotate(-540deg) translate(200px, 0.1px) rotate(540deg);
  }
  to {
    transform: rotate(-900deg) translate(200px, 0.1px) rotate(900deg);
  }
}
@-ms-keyframes move6 {
  from {
    -ms-transform: rotate(-540deg) translate(200px, 0.1px) rotate(540deg);
  }
  to {
    -ms-transform: rotate(-900deg) translate(200px, 0.1px) rotate(900deg);
  }
}
@-moz-keyframes move6 {
  from {
    -moz-transform: rotate(-540deg) translate(200px, 0.1px) rotate(540deg);
  }
  to {
    -moz-transform: rotate(-900deg) translate(200px, 0.1px) rotate(900deg);
  }
}
@-webkit-keyframes move6 {
  from {
    -webkit-transform: rotate(-540deg) translate(200px, 0.1px) rotate(540deg);
  }
  to {
    -webkit-transform: rotate(-900deg) translate(200px, 0.1px) rotate(900deg);
  }
}
.blob:nth-child(6) {
  position: relative;
  animation: move6 12s infinite linear;
  
-ms-animation: move6 12s infinite linear;
  -moz-animation: move6 12s infinite linear;
  -webkit-animation: move6 12s infinite linear;
}
@keyframes move7 {
  from {
    transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
  }
  to {
    transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
  }
}
@-ms-keyframes move7 {
  from {
    -ms-transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
  }
  to {
    -ms-transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
  }
}
@-moz-keyframes move7 {
  from {
    -moz-transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
  }
  to {
    -moz-transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
  }
}
@-webkit-keyframes move7 {
  from {
    -webkit-transform: rotate(630deg) translate(200px, 0.1px) rotate(-630deg);
  }
  to {
    -webkit-transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
  }
}
.blob:nth-child(7) {
  position: relative;
  animation: move7 12s infinite linear;
  
-ms-animation: move7 12s infinite linear;
  -moz-animation: move7 12s infinite linear;
  -webkit-animation: move7 12s infinite linear;
}
@keyframes move8 {
  from {
    transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
  }
  to {
    transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
  }
}
@-ms-keyframes move8 {
  from {
    -ms-transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
  }
  to {
    -ms-transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
  }
}
@-moz-keyframes move8 {
  from {
    -moz-transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
  }
  to {
    -moz-transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
  }
}
@-webkit-keyframes move8 {
  from {
    -webkit-transform: rotate(720deg) translate(200px, 0.1px) rotate(-720deg);
  }
  to {
    -webkit-transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
  }
}
.blob:nth-child(8) {
  position: relative;
animation: move8 12s infinite linear;
-ms-animation: move8 12s infinite linear;
-moz-animation: move8 12s infinite linear;
-webkit-animation: move8 12s infinite linear;
}
@keyframes move9 {
  from {
    transform: rotate(810deg) translate(200px, 0.1px) rotate(-810deg);
  }
  to {
    transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
  }
}
@-ms-keyframes move9 {
  from {
    -ms-transform: rotate(810deg) translate(200px, 0.1px) rotate(-810deg);
  }
  to {
    -ms-transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
  }
}
@-moz-keyframes move9 {
  from {
    -moz-transform: rotate(810deg) translate(200px, 0.1px) rotate(-810deg);
  }
  to {
    -moz-transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
  }
}
@-webkit-keyframes move9 {
  from {
    -webkit-transform: rotate(810deg) translate(200px, 0.1px) rotate(-810deg);
  }
  to {
    -webkit-transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
  }
}
.blob:nth-child(9) {
  position: relative;
animation: move9 12s infinite linear;
-ms-animation: move9 12s infinite linear;
-moz-animation: move9 12s infinite linear;
-webkit-animation: move9 12s infinite linear;
}
@keyframes move10 {
  from {
    transform: rotate(900deg) translate(200px, 0.1px) rotate(-900deg);
  }
  to {
    transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
  }
}
@-ms-keyframes move10 {
  from {
    -ms-transform: rotate(900deg) translate(200px, 0.1px) rotate(-900deg);
  }
  to {
    -ms-transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
  }
}
@-moz-keyframes move10 {
  from {
    -moz-transform: rotate(900deg) translate(200px, 0.1px) rotate(-900deg);
  }
  to {
    -moz-transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
  }
}
@-webkit-keyframes move10 {
  from {
    -webkit-transform: rotate(900deg) translate(200px, 0.1px) rotate(-900deg);
  }
  to {
    -webkit-transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
  }
}
.blob:nth-child(10) {
  position: relative;
animation: move10 12s infinite linear;
-ms-animation: move10 12s infinite linear;
-moz-animation: move10 12s infinite linear;
-webkit-animation: move10 12s infinite linear;
}
@keyframes move11 {
  from {
    transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
  }
  to {
    transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
  }
}
@-ms-keyframes move11 {
  from {
    -ms-transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
  }
  to {
    -ms-transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
  }
}
@-moz-keyframes move11 {
  from {
    -moz-transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
  }
  to {
    -moz-transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
  }
}
@-webkit-keyframes move11 {
  from {
    -webkit-transform: rotate(990deg) translate(200px, 0.1px) rotate(-990deg);
  }
  to {
    -webkit-transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
  }
}
.blob:nth-child(11) {
  position: relative;
animation: move11 12s infinite linear;
-ms-animation: move11 12s infinite linear;
-moz-animation: move11 12s infinite linear;
-webkit-animation: move11 12s infinite linear;
}
@keyframes move12 {
  from {
    transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
  }
  to {
    transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
  }
}
@-ms-keyframes move12 {
  from {
    -ms-transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
  }
  to {
    -ms-transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
  }
}
@-moz-keyframes move12 {
  from {
    -moz-transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
  }
  to {
    -moz-transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
  }
}
@-webkit-keyframes move12 {
  from {
    -webkit-transform: rotate(1080deg) translate(200px, 0.1px) rotate(-1080deg);
  }
  to {
    -webkit-transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
  }
}
.blob:nth-child(12) {
  position: relative;
animation: move12 12s infinite linear;
-ms-animation: move12 12s infinite linear;
-moz-animation: move12 12s infinite linear;
-webkit-animation: move12 12s infinite linear;
}
@keyframes move13 {
  from {
    transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
  }
  to {
    transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
  }
}
@-ms-keyframes move13 {
  from {
    -ms-transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
  }
  to {
    -ms-transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
  }
}
@-moz-keyframes move13 {
  from {
    -moz-transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
  }
  to {
    -moz-transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
  }
}
@-webkit-keyframes move13 {
  from {
    -webkit-transform: rotate(1170deg) translate(200px, 0.1px) rotate(-1170deg);
  }
  to {
    -webkit-transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
  }
}
.blob:nth-child(13) {
  position: relative;
animation: move13 12s infinite linear;
-ms-animation: move13 12s infinite linear;
-moz-animation: move13 12s infinite linear;
-webkit-animation: move13 12s infinite linear;
}
@keyframes move14 {
  from {
    transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
  }
  to {
    transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
}
@-ms-keyframes move14 {
  from {
    -ms-transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
  }
  to {
    -ms-transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
}
@-moz-keyframes move14 {
  from {
    -moz-transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
  }
  to {
    -moz-transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
}
@-webkit-keyframes move14 {
  from {
    -webkit-transform: rotate(1260deg) translate(200px, 0.1px) rotate(-1260deg);
  }
  to {
    -webkit-transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
}
.blob:nth-child(14) {
  position: relative;
animation: move14 12s infinite linear;
-ms-animation: move14 12s infinite linear;
-moz-animation: move14 12s infinite linear;
-webkit-animation: move14 12s infinite linear;
}
@keyframes move15 {
  from {
    transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
  }
  to {
    transform: rotate(1710deg) translate(200px, 0.1px) rotate(-1710deg);
  }
}
@-ms-keyframes move15 {
  from {
    -ms-transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
  }
  to {
    -ms-transform: rotate(1710deg) translate(200px, 0.1px) rotate(-1710deg);
  }
}
@-moz-keyframes move15 {
  from {
    -moz-transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
  }
  to {
    -moz-transform: rotate(1710deg) translate(200px, 0.1px) rotate(-1710deg);
  }
}
@-webkit-keyframes move15 {
  from {
    -webkit-transform: rotate(1350deg) translate(200px, 0.1px) rotate(-1350deg);
  }
  to {
    -webkit-transform: rotate(1710deg) translate(200px, 0.1px) rotate(-1710deg);
  }
}
.blob:nth-child(15) {
  position: relative;
animation: move15 12s infinite linear;
-ms-animation: move15 12s infinite linear;
-moz-animation: move15 12s infinite linear;
-webkit-animation: move15 12s infinite linear;
}
@keyframes move16 {
  from {
    transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
  }
  to {
    transform: rotate(1800deg) translate(200px, 0.1px) rotate(-1800deg);
  }
}
@-ms-keyframes move16 {
  from {
    -ms-transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
  }
  to {
    -ms-transform: rotate(1800deg) translate(200px, 0.1px) rotate(-1800deg);
  }
}
@-moz-keyframes move16 {
  from {
    -moz-transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
  }
  to {
    -moz-transform: rotate(1800deg) translate(200px, 0.1px) rotate(-1800deg);
  }
}
@-webkit-keyframes move16 {
  from {
    -webkit-transform: rotate(1440deg) translate(200px, 0.1px) rotate(-1440deg);
  }
  to {
    -webkit-transform: rotate(1800deg) translate(200px, 0.1px) rotate(-1800deg);
  }
}
.blob:nth-child(16) {
  position: relative;
animation: move16 12s infinite linear;
-ms-animation: move16 12s infinite linear;
-moz-animation: move16 12s infinite linear;
-webkit-animation: move16 12s infinite linear;
}
@keyframes move17 {
  from {
    transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
  }
  to {
    transform: rotate(1890deg) translate(200px, 0.1px) rotate(-1890deg);
  }
}
@-ms-keyframes move17 {
  from {
    -ms-transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
  }
  to {
    -ms-transform: rotate(1890deg) translate(200px, 0.1px) rotate(-1890deg);
  }
}
@-moz-keyframes move17 {
  from {
    -moz-transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
  }
  to {
    -moz-transform: rotate(1890deg) translate(200px, 0.1px) rotate(-1890deg);
  }
}
@-webkit-keyframes move17 {
  from {
    -webkit-transform: rotate(1530deg) translate(200px, 0.1px) rotate(-1530deg);
  }
  to {
    -webkit-transform: rotate(1890deg) translate(200px, 0.1px) rotate(-1890deg);
  }
}
.blob:nth-child(17) {
  position: relative;
animation: move17 12s infinite linear;
-ms-animation: move17 12s infinite linear;
-moz-animation: move17 12s infinite linear;
-webkit-animation: move17 12s infinite linear;
}
@keyframes move18 {
  from {
    transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
  to {
    transform: rotate(1980deg) translate(200px, 0.1px) rotate(-1980deg);
  }
}
@-ms-keyframes move18 {
  from {
    -ms-transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
  to {
    -ms-transform: rotate(1980deg) translate(200px, 0.1px) rotate(-1980deg);
  }
}
@-moz-keyframes move18 {
  from {
    -moz-transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
  to {
    -moz-transform: rotate(1980deg) translate(200px, 0.1px) rotate(-1980deg);
  }
}
@-webkit-keyframes move18 {
  from {
    -webkit-transform: rotate(1620deg) translate(200px, 0.1px) rotate(-1620deg);
  }
  to {
    -webkit-transform: rotate(1980deg) translate(200px, 0.1px) rotate(-1980deg);
  }
}
.blob:nth-child(18) {
  position: relative;
animation: move18 12s infinite linear;
-ms-animation: move18 12s infinite linear;
-moz-animation: move18 12s infinite linear;
-webkit-animation: move18 12s infinite linear;
}

header {
	cursor: none;
}
		
	