@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow-x: hidden; 
	font-family: 'Varela Round', sans-serif;
}

.arrow-down{
	text-decoration: none;
	color: white;
	font-size: 50px;
}

header{
	height: 100vh;
	background-position:50% 50%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.title{
	font-family: 'Bungee Inline', cursive;
	font-size: 12vw;
	color: white;
	margin: 0;
	padding: 0;
	line-height: 100%;
	text-shadow: 3px 3px 3px black;
}

.header-grid{
	z-index: 1000; margin: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60vh 25vh;
	text-align: center;
	padding-top: 15vh;
}

.fleche{
	grid-column: span 2;
	text-shadow: 3px 3px 3px black;
}

.type{
	font-size: 4vw;
	color: white;
	margin: 0;
	text-shadow: 3px 3px 3px black;
}

.about{
	background-image: url('../assets/about.png');
	background-position:50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;	
}

.about h1{
	font-size: 3vw;
	margin: 10vh;
}

.about p{
	font-size: 115%; 
	text-align: left;
}

.about .p{
	width: 35vw;
	margin: 0 auto;
	padding: 4vw;
}

.about .inline {
	display: inline-block;
	vertical-align: middle;
}

.skills{
	background-image: url('../assets/skills.jpg');
	background-position:50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	background-attachment: fixed;
	color: white;
}

.skills h1{
	font-size: 3vw;
	margin: 10vh;
}