@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
html, body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow-x: hidden; 
	font-family: 'Varela Round', sans-serif;
}

.arrow-down{
	text-decoration: none;
	color: white;
	font-size: 50px;
}

header{
	height: 100vh;
	background-position:50% 50%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.title{
	font-family: 'Bungee Inline', cursive;
	font-size: 12vw;
	color: white;
	margin: 0;
	padding: 0;
	line-height: 100%;
	text-shadow: 3px 3px 3px black;
}

.header-grid{
	z-index: 1000; margin: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60vh 25vh;
	text-align: center;
	padding-top: 15vh;
}

.fleche{
	grid-column: span 2;
	text-shadow: 3px 3px 3px black;
}

.type{
	font-size: 4vw;
	color: white;
	margin: 0;
	text-shadow: 3px 3px 3px black;
}

.about{
	background-image: url('../assets/about.png');
	background-position:50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;	
}

.about p{
	font-size: 115%; 
	text-align: left;
}

.about .p{
	margin: 0 auto;
	padding: 4vw;
}

.about .inline {
	display: inline-block;
	vertical-align: middle;
}

.skills{
	background-image: url('../assets/skills.jpg');
	background-position:50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	background-attachment: fixed;
	color: white;
}


.works {
	text-align: center;
	background-color: #EEF1EA;
}

.h1{
	font-size: 2rem;
	margin: 50px 0px;
}

.card{
	text-align: left;
}

.works .container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.works .col-md-4{
	padding-left: 0;
	padding-right: 0;
	z-index: 500;
	margin-bottom: 50px;
}

.skills .col-md-12{
	padding-left: 0;
	padding-right: 0;
}

.contact{
	  text-align:center;
  }
.contact h1{
	  color: #fff;
  }
  
  .contact  #form-main{
	  width:100%;
	  padding-top:0px;
  }
  
.contact  #form-div {
	background: #fff;
	margin: 0 auto;
	padding:35px;
	width: 450px;
	margin-top:30px;
	box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.479);
}
  
  .contact  .feedback-input {
	  color:#000;
	  font-family: Montserrat, Arial, sans-serif;
		font-weight:300;
	  font-size: 14px;
	  border-radius: 0;
	  line-height: 22px;
	  background-color: #fff;
	  padding: 13px 13px 13px 13px;
	  margin-bottom: 10px;
	  width:100%;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -ms-box-sizing: border-box;
	  box-sizing: border-box;
	border: 0px solid transparent;
	border-bottom: 1px solid #000;
  }
  
  .contact  .feedback-input:focus{
	  background: #fff;
	  box-shadow: 0;
	  color: #000;
	  outline: none;
	padding: 13px 13px 13px 13px;
  }
  
  .contact .focused{
	  color:#000;
	  border:#30aed6 solid 2px;
  }
  
  .contact  textarea {
	  width: 100%;
	  height: 150px;
	  line-height: 150%;
	  resize:vertical;
  }
  
  .contact  input:hover, .contacttextarea:hover,
  .contact input:focus,.contact textarea:focus {
	  background-color:white;
  }
  
  .contact  #button-blue{
	  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	  float:left;
	  width: 100%;
	  border: 0px solid transparent;
	  cursor:pointer;
	  background-color: #000;
	  color:white;
	  font-size:18px;
	  padding-top:22px;
	  padding-bottom:22px;
	  -webkit-transition: all 0.3s;
	  -moz-transition: all 0.3s;
	  transition: all 0.3s;
	margin-top:-4px;
	font-weight:300;
  }
  
  .contact #button-blue:hover{
	  background-color: #fff;
	  color: #000;
	border: 1px solid #000;
  }
	  
  .contact .submit:hover {
	  color: #3498db;
  }
	  
  .contact  .ease {
	  width: 0px;
	  height: 74px;
	  background-color: #fbfbfb;
	  -webkit-transition: .3s ease;
	  -moz-transition: .3s ease;
	  -o-transition: .3s ease;
	  -ms-transition: .3s ease;
	  transition: .3s ease;
  }
  
  .contact  .submit:hover .ease{
	width:100%;
	background-color:white;
  }

.contact a {
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 190px;
	border: 3px solid #27ae60;
	background: #27ae60;
	text-align: center;
	text-decoration: none;
	color: #fff;
	transition: all .2s;
}
  
  .contact .label {
	line-height: 100px;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	transition: all .2s;
  }

  .contact  .effect6 {
	background-color: #FFF;
	box-shadow: 0px -100px 0 0 #27ae60 inset;
  }
  .contact  .effect6:hover {
	  color: #27ae60;
	box-shadow: 0px 0 0 0 #27ae60 inset;
  }
  .contact  .effect6:active {
	box-shadow: 0px 100px 0 0 #27ae60 inset;
  }

.contact .flexedContact{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

footer{
	background-color: #222;
	padding: 50px 0px;
}

footer a {
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 190px;
	border: 3px solid #222;
	background: #222;
	text-align: center;
	text-decoration: none;
	color: #fff;
	transition: all .2s;
}
footer .label {
	line-height: 100px;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	transition: all .2s;
}  
footer .effect5:hover {
	color: #222;
	box-shadow: 0px 0 0 11px #FFF,  0px 0 0 10px #222, 0px 0 0 50px #FFF inset;
}
footer .effect5:active {
	box-shadow: 0px 0 0 11px #222,  0px 0 0 10px #222, 0px 0 0 50px #FFF inset;
}
footer .effect5:active .label {
	color: #222;
}
footer .socials{
	display: flex;
	justify-content: space-evenly;
}
@media only screen and (max-width: 580px) {
	.contact  #form-div{
		left: 3%;
		width: 88%;
		padding-left: 3%;
		padding-right: 3%;
	}
}

@media (max-width: 1367px) {
	.notAvailable{
		display: none;
	}
}